---
const pages = await Astro.glob("../pages/*/index.astro");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="from-black to-zinc-700 bg-gradient-to-tr w-screen h-screen flex justify-center items-center"
  >
    <div class="flex md:flex-row flex-col justyfy-center items-center">
      <div
        class="md:w-[50%] w-full h-full justify-center items-center p-4 gap-2"
      >
        <span class="flex mustify-center items-center my-2">
          <img src="mame.svg" class="h-12 w-12 rounded-full overflow-hidden" />
          <p class="text-base text-white font-thin font-mono ml-4">
            So Tokumaru's
          </p>
        </span>
        <h1 class="text-6xl text-white font-thin font-mono">Web Design Note</h1>
        <p class="text-white font-mono font-thin my-2">
          Playground of front-end. Built by Astro. May not display correctly on
          mobile
        </p>
        <button
          class="text-gray-200 text-sm p-2 rounded-lg font-mono font-bold relative bg-transparent hover:bg-gray-500/50 border border-gray-100/30 hover:border-green-400 hover:shadow shadow-sky-200"
        >
          My portfolio
          <a
            href="https://so-bean.work"
            class="text-sm absolute top-0 left-0 w-full h-full"></a>
        </button>
      </div>
      <div class="md:w-[50%] w-full h-full p-4">
        <div class="max-h-[90vh] overflow-y-scroll">
          {
            pages.map((page: any) => (
              <div class="mt-4 p-3 relative transition-all bg-transparent hover:bg-gray-500/50 border border-gray-100/30 hover:border-sky-400 hover:shadow shadow-sky-200 rounded-lg">
                <h2 class="text-gray-200 text-lg font-bold">{page.url}</h2>

                <p class="text-gray-400 text-sm">{page.description}</p>
                <a
                  href={page.url}
                  class="absolute top-0 left-0 w-full h-full"
                />
                <img src={page.image} class="w-full" />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </body>
</html>
